@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

.basic-zoom {
    padding: 50px;
    transition: transform 0.2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

.basic-zoom:hover {
    transform: scale(1.1);
}