
/* Hero Images */
#index {
    background: url('https://images.unsplash.com/photo-1453945619913-79ec89a82c51?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=60') no-repeat center center/cover;
    height: var(--header-img-height, 80vh);
}

#services {
    background: url('https://images.unsplash.com/photo-1450101499163-c8848c66ca85?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=60') no-repeat center center/cover;
    height: var(--header-img-height, 80vh);
}

#compensations {
    background: url('https://images.unsplash.com/photo-1507679799987-c73779587ccf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=60') no-repeat center center/cover;
    height: var(--header-img-height, 80vh);
}

#rates {
    background: url('https://images.unsplash.com/photo-1505682634904-d7c8d95cdc50?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=60') no-repeat center center/cover;
    height: var(--header-img-height, 80vh);
}

#contacts {
    background: url('https://images.unsplash.com/photo-1489410342162-b4b300a0bb15?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=60') no-repeat center center/cover;
    height: var(--header-img-height, 80vh);
}

/* Navigation */
header .nav ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

header .nav ul li {
    padding: 0 1.5rem;
    margin: 2rem 0;
    
}

header .nav ul li a {
    text-decoration: none;
    display: block;
    background: rgba(0,0,0,0.3);
    padding: 0.5rem;
    border-radius: 5px;
    color: #fff;
}

header .nav ul li a:hover {
    color: #fff;
    background: #000;
}

header .nav ul li .current {
    color: #fff;
    background: rgb(23, 211, 63);
}

/* Hero Content */
#index .showcase-content,
#services .showcase-content,
#compensations .showcase-content,
#rates .showcase-content, 
#contacts .showcase-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    margin-top: var(--showcase-content-m, 5rem) ; 
}

#index .showcase-content img {
    margin: 0 auto;
    width: 100px;
}